@charset "UTF-8";
/* ----------------공통 css------------------- */
.clearfix::after{
   content: "";
   display: block;
   clear: both;
}
/* ----------------container------------------- */
.container{
	margin: 0 auto;
	width: 1440px;
	position: relative;
}

/* ----------------header------------------- */
#header{
    height: 60px;
	width: 100%;
    top: 0;
    position: fixed;
    z-index: 999;
    background: white;
}

.head-logo{
	float: left;
	position: relative;
	padding-right: 10px;
}

.gnb{
	float: left;
	position: relative;
}

.gnb li{
	float: left;
	padding-left: 10px;
}

.my-info{
	float: right;
}
/* ----------------main------------------- */

#main{
	background: #E5E5E5;
	position: relative;	
}

	.screen-gradation{
		content: '';
	    display: block;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 0;
	    height: 100%;
	    width: 100%;
	    background-color: rgba(0,0,0,0.3);
	}	
	.screen{
		top:60;
		left:0;
		height:500px;
		width: 100%;
		position:fixed;
		background-image: url("../../resource/images/staek.jpg");
		background-size: cover;
		background-position: 50% 50%;
	}
	
	.main-search{
		z-index: 1;
	}
	
	.content{
		position: relative;
		background: #E5E5E5;
		margin-top: 560px;
	}

	.section{
		margin-top: 50px;
	}
/* ----------------lench-cards------------------- */
.cards{
	width:1440px;
	float:left;
	position: relative;	
}

.lunch-card{
	position:relative;	
	margin:15px;
	float: left;
}
	.poster-wrapper{
		position:relative;
   }
	.poster-wrapper .gradation{
		cursor: pointer;
    	width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
   		border-radius: 6px;
   		transition-duration: 0.5s;
   }
   .poster-wrapper:hover .gradation{
   		background-color: rgba(0,0,0,0.5);
   }
   

.poster-size1{
	width: 450px;
	height: 300px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;
}

.poster-size2{
	width: 360px;
	height: 250px;
	border-radius: 10px;
	object-fit: cover;
}

/* ----------------footer------------------- */
#footer{
	padding-top: 65px;
}